body {
  /* Change background color for your app: */
  background-color: #fafafa;
  font: 100 14px/18px Arimo, SegoeWP, HelveticaNeue, Sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Bitter, serif;
	font-weight: 100;
}

nav > h1 {
	font: 100 21px/28px Bitter, Serif;
}
